[submodule "website/themes/--force"]
	path = website/themes/--force
	url = https://github.com/devcows/hugo-universal-theme
[submodule "website/themes/hugo-universal-theme"]
	path = website/themes/hugo-universal-theme
	url = https://github.com/devcows/hugo-universal-theme
